= provide :breadcrumbs, 'Application Submitted'
#pre_content
  .typography
    %h1 Application Submitted

.searchform
  .typography
    %p Thank you for your application.
    %p Please remember to log back in after 10 weeks to upload a copy of your learners review document.
    %p We will email you to remind you and your selected training provider shortly before the first review is due.