#pre_content
  .typography
    %h1 DONE
    %p
      Please complete the following steps below to register and complete an application for funding.
      %br
      For answers to any questions you may have, please see links to the left of the screen.


.searchform
  .typography
    %p Thank you for uploading the review
    %p Your application is being processed.  If everything is accepted and approved, we will make payment to your nominated bank account within 28 days.
    %p If we have any queries or questions, we will be in touch by email or telephone shortly.
    %p Thank you
