= provide :breadcrumbs, 'How quickly will i receive the money?'

.typography
  %h1 How quickly will i receive the money?
  %p Once you make your initial application, you need to wait for 10 weeks or more before uploading the first review.  Once you upload the review document, you will receive your BACS payment within 28 days unless we inform you otherwise.  Payment will be delayed if the review document is not signed by all parties, is incomplete in any way, does not demonstrate that the apprentice has been in learning for 10 weeks or longer or is in a format that our online system does not recognise.  We may, at our discretion delay the payment whilst we make checks on the evidence submitted but we will notify you within 14 days if this is the case.