= provide :breadcrumbs, 'How much funding is available?'

.typography
  %h1 How much funding is available?

  %p Apprentices learn and earn at the same time, gaining hands-on experience in the workplace whilst also gaining valuable work-based skills and qualifications. Training could involve a mix of on-site assessment and college attendance.
  %p Typically, Apprenticeships take 12 months for Level 2 (Intermediate) or 18 to 24 months for a &nbsp;Level 3 (Advanced) programmes.&nbsp; Higher-level programmes can take up to 4 years&nbsp;to complete. &nbsp;(this may vary depending on the type of Apprenticeship).
  %p The package of learning is called the framework. Each framework is different.