= provide :breadcrumbs, 'How much funding is available?'

.typography
  %h1 How much funding is available?
  %p If your apprentice is aged 16 to 18 at the start of their Apprenticeship, then you will be paid £2,000 if you meet the relevant terms and conditions.  For those aged 19 to 24, the rate is £1,500