= provide :breadcrumbs, 'I had an AGE grant from Government in the last year, can I still claim a grant from you if I take on another apprentice?'

.typography
  %h1 I had an AGE grant from Government in the last year, can I still claim a grant from you if I take on another apprentice?
  %p Yes, this is acceptable.