= provide :breadcrumbs, 'My company is based outside Norfolk or Suffolk. What should I do?'

.typography
  %h1 My company is based outside Norfolk or Suffolk. What should I do?
  %p
    If you do not employ an apprentice in a branch or premises within Norfolk or Suffolk, then you are unable to claim a grant through our system.  You may however be eligible for the national AGE grant and information about this can be found
    = link_to 'here.', 'https://www.gov.uk/government/collections/apprenticeship-grant-for-employers-of-16-to-24-year-olds'
    Employers in Peterborough or Cambridgeshire can apply to the local scheme there through this link.