%table
  %tr
    %td APPRENTICESHIP GRANT FOR EMPLOYERS
  %tr
    %td PAYMENT REQUEST

%table
  %tr
    %td Employer name
    %td
  %tr
    %td Employer address
    %td
  %tr
    %td Contact name
    %td
  %tr
    %td Contact phone number
    %td
  %tr
    %td Contact email address
    %td
  %tr
    %td Remittance email address (if different from above)
    %td
  %tr
    %td Apprentice name
    %td
  %tr
    %td Amount due
    %td{style: 'height: 100px'} £
  %tr
    %td Bank account name
    %td
  %tr
    %td Sort code
    %td
  %tr
    %td Account number
    %td
  %tr
    %td Payment due date
    %td
