.typography
  %h1 Security:
  %ul
    %li Secure Socket Layers (SSL) to enable HTTPS and secure connections between client and server.
    %li IL2 Security compliance (certifies security level and requirement for protection of data).
    %li The solution must be resilient against existing security vulnerabilities, e.g. SQL injection, cross-site scripting; and maintained to counter new and emerging security threats.
    %li The solution must conform to EU cookie laws.
