= provide :breadcrumbs, 'What do I need to do to claim?'

.typography
  %h1 What do I need to do to claim?
  %p To claim, you need a valid email address.  Please complete the online registration form and create a password as soon as possible after your apprentice starts their Apprenticeship.  You will need to select the training provider you are working with from the drop down list.
  %p Once you have created your password, you will be asked to review the details you have entered and check a box to make a declaration that this information is correct and true.  Once you save this information, the grant money is allocated to you.  Once the apprentice has been on their Apprenticeship for 10 weeks or more, the training provider should contact you to arrange a review.  Please ask the provider for an electronic copy of this once it has been completed and log back into the site using your email address and password.  You will then be asked to upload the review (which should be signed by the apprentice, provider and yourself or your nominated employee as the employer.  Once we have this, we will pay you your allocated grant by BACS.
