= provide :breadcrumbs, 'Your system does not work on my computer, what do I do now?'

.typography
  %h1 Your system does not work on my computer, what do I do now?
  %p If you are having trouble getting the online system to work or you have limited access to ICT, please contact us on 0344 8008024 so that we can investigate and correct the issue.