%p This is an automated message from the AGE grant website.
%p
  We have approved your application for
  = @grant_detail.learner_name
  subject to evidence upload at 10 weeks
%p
  To complete this process, please sign in to the website, where you can upload the documents.
%hr
