%p This is an automated message from the Age Grant Application website.
%p The following company has choosen 'no training provider' in their application.
%hr
%p
  = @grant_detail.company_name
  %br
  = @grant_detail.user.email
%hr
