%p This is a message from the AGE grant website.
%p It is a government requirement that you declare any State Aid your organisation has received or confirm a nil return for us to complete the payment process.
%p Please visit the grant review page on the AGE grant website here: https://agegrant.apprenticeshipsnorfolk.org/i-have-already-applied-for-a-grant-and-need-to-upload-evidence-to-claim
%p If you confirm you have State Aid to declare we will contact you to help you through the next steps for the payment process.
