%p This is an automated message from the age grant website.
%p 10 weeks have now passed since your application for an AGE Grant - you should now upload a copy of your learners review document.
%p
  To complete this process, please
  = link_to 'click here', "#{@url}/i-have-already-applied-for-a-grant-and-need-to-upload-evidence-to-claim"
  to go to the website, where you can upload the documents.
%hr