%h1 AGE grant application.
%p This is a reminder that 10 weeks has passed since your AGE grant application.
%p Please log back in to upload a copy of your learner's review document.
= link_to 'AGE grant website', @url
