#pre_content
  %h1 Apply For An Age Grant
  %h2 Our simple 5 stage search process does not take long and will provide you with details of relevant Apprenticeship providers.

  %h2
    %strong 1. Please complete the following details.
    
  #form_steps
    %ul
      %li.current_stage 1. Your details
      %li 2. Select job role
      %li 3. Select training providers
      %li 4. Your Result

= render 'form'

