%header.header
  .group
    %a.header__logo.replace{:href => "/"} Apprenticeships Norfolk

  - if signed_in_as_admin?
    %nav.nav
      %ul.js-superfish
        %li.n1.js-superfish-open
          = link_to 'Front Site', root_url
          .nav__separator
            |
        %li.n2
          = link_to 'Grant Details', admin_grant_details_path
          .nav__separator
            |
        %li.n3
          = link_to 'Training Providers', admin_training_providers_path
          .nav__separator
            |
        %li.n4
          = link_to 'Logout', admin_logout_path
