%header.header
  .group
    %a.header__logo.replace{:href => "https://www.apprenticeshipsnorfolk.org/"} Apprenticeships Norfolk
    %a.header__logo.header__logo--suffolk.replace{:href => "https://www.apprenticeshipsnorfolk.org/"} Apprenticeships Suffolk
    .header__extras.group
      %a.member__login.header__login{:href => "https://www.apprenticeshipsnorfolk.org/members"} Member Log In
      .header__social.group
        %a.social__icon.social__icon--n1.replace{:href => "https://twitter.com/AppsNorfolk", :target => "_blank"} Twitter
        %a.social__icon.social__icon--n2.replace{:href => "https://www.facebook.com/Apprenticeships-Norfolk-Network-1449750935329671/", :target => "_blank"} Facebook
        %a.social__icon.social__icon--n3.replace{:href => "https://www.youtube.com/user/NorfolkEmployability", :target => "_blank"} YouTube
        %a.social__icon.social__icon--n4.replace{:href => "https://www.flickr.com/photos/apprenticeships", :target => "_blank"} Flickr
  %nav.nav
    %ul.js-superfish
      %li.n1.js-superfish-open
        %a.link{:href => "https://www.apprenticeshipsnorfolk.org/employ-an-apprentice/search-for-an-apprentice/"} Employ An Apprentice
        .nav__separator
          |
      %li.n2
        %a.link{:href => "https://www.apprenticeshipsnorfolk.org/become-an-apprentice/search-for-an-apprenticeship/"} Become An Apprentice
        .nav__separator
          |
      %li.n3
        %a.link{:href => "https://www.apprenticeshipsnorfolk.org/contact-us/"} Contact Us
        .nav__separator
          |
        %ul
          %li
            %a.link{:href => "https://www.apprenticeshipsnorfolk.org/home/sign-up/"} Become a member of the Apprenticeships Norfolk Network
      %li.n4
        %a.link{:href => "https://www.apprenticeshipsnorfolk.org/blog/"} Apprentice's blog
        .nav__separator
          |
      %li.n5
        %a.section{:href => "/"} AGE Grant
    %a.member__login.nav__login{:href => "/members"} Member Log In