%html
  %body
    %table{style: 'width: 100%, background-color: #eee'}
      %tr
        %td
          %table{style: 'width: 600px, background-color: white'}
            %tr
              %td
                = yield